* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header{
  text-align: center;
  font-size: 0.5rem;
}

.img_pic {
  object-fit: contain;
  width: 90vw;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.character_names {
  position: relative;
  top: -24px;
  left: -2px;
  margin-left: -50%;
  color: #fff;
}